$primColor: #008484;
$secTextColor: #6f6f6f;

.img-thumbnail {
    max-height: 400px;
}

.section-top {
    margin-bottom: 2rem;
    color: $secTextColor;
    font-size: 0.875rem;
}
.section-bottom {
    margin-top: 2rem;
    color: $secTextColor;
    font-size: 0.875rem;
}

.section-loader {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 300ms;
    background-color: rgba(#fff, 0.9);
    backdrop-filter: blur(20px);
}

.fs-file-selector {
    margin-top: 1rem;
    user-select: none;
    position: sticky !important;
    top: -2px;
    text-align: center;
    background-color: rgba($primColor, 0.05);
    backdrop-filter: blur(35px) saturate(200%);
    border-top: 2px solid $primColor;
    border-bottom: 2px solid $primColor;
    transition: all ease 300ms;
    .fs-droppable {
        padding: 2rem 0;
        transition: all ease 200ms;
    }
    .fs-btn-select {
        background-color: $primColor;
        padding: 0.75rem 2rem;
        color: #fff;
        border-radius: 1px;
        transition: all ease 200ms;
        &:hover {
            cursor: pointer;
            background-color: lighten($primColor, 5);
        }
        &:active {
            background-color: darken($primColor, 5);
            transform: scale(0.95);
            transition: all ease 60ms;
        }
    }
    .fs-loader {
        background-color: transparent !important;
    }
    &.fs-drag-enter {
        background-color: rgba($primColor, 0.1);
        .fs-droppable {
            transition: all ease 100ms;
            transform: scale(0.98);
        }
    }
}

.custom-notification {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: left;
    font-size: 13px;
    margin: 5px;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
    &, & > div {
      box-sizing: border-box;
    }
    background: #E8F9F0;
    border: 2px solid #D0F2E1;
    .notification-icon {
      flex: 0 1 auto;
      color: #15C371;
      font-size: 32px;
      padding: 0 10px;
    }
    .notification-close {
      flex: 0 1 auto;
      padding: 0 20px;
      font-size: 16px;
      opacity: 0.2;
      cursor: pointer;
      &:hover {
        opacity: 0.8;
      }
    }
    .notification-content {
      padding: 10px;
      flex: 1 0 auto;
    }
    .notification-title {
        padding: 10px;
        letter-spacing: 1px;
        text-transform: uppercase;
        font-size: 10px;
        font-weight: 600;
    }
    &.success {
        background: #E8F9F0;
        border: 2px solid #D0F2E1;
    }
    &.warn {
        background: #eecb97;
        border: 2px solid #f1be72;
    }
    &.error {
        background: #f7b2ad;
        border: 2px solid #f7877f;
    }
  }
  .v-fade-left-enter-active,
  .v-fade-left-leave-active,
  .v-fade-left-move {
    transition: all .5s;
  }
  .v-fade-left-enter,
  .v-fade-left-leave-to {
    opacity: 0;
    transform: translateX(-500px) scale(0.2);
  }
  .v-fade-right-enter-active,
  .v-fade-right-leave-active,
  .v-fade-right-move {
    transition: all .5s;
  }
  .v-fade-right-enter,
  .v-fade-right-leave-to {
    opacity: 0;
    transform: translateX(500px) scale(0.2);
  }


